@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "New",null, new { @class = "btn btn-primary" })
</p>

    <table id="customers" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.MembershipType)
                </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>



@section scripts{
   
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data,type,customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>"
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger btn-xs js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var delbutton = $(this);
                bootbox.confirm("Are You Sure To Delete This Customer?!", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + delbutton.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(delbutton.parents("tr")).remove().draw();
                            },
                            error: function () {

                            }


                        });

                    }


                })

            });

        });

    </script>
    
    }